{% extends 'base.html' %}


{% block content %}

    <script src="sweetalert.min.js"></script>

    <h1>Edit a Achievement </h1>
    <form action="{% url 'activity:update_activity' pk=activity.pk %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        Title:<br>
        <input name="title" value="{{ activity.title }}">
        <br><br>
        Time:
        <p class="subtitle">{{ activity.time|date:"Y-m-d  H:i" }}</p>
        <input type="datetime-local" id="activity_time" name="time" >
        <br>

        Description:<br>
        <input name="content" value="{{ activity.description }}">
        <br><br>
        <input type="submit" value="Accept" class="btn btn-success btn-large">
        <a href="{% url 'activity:delete_activity'  pk=activity.pk %}"
           onclick="myFunction()"
           type="delete"
           class="btn btn-simple">
            <span class="glyphicon glyphicon-remove text-danger"></span>
            <span class="text-danger icon-label">Delete</span>
        </a>

    </form>

    <script>
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                Swal.fire(
                    'Deleted!',
                    'Your file has been deleted.',
                    'success'
                )
            }
        })
    </script>
{% endblock content %}