{% extends 'base.html' %}

{% load blog_extras %}

{% block content %}
<link rel="stylesheet" type="text/css" href="/static/styles/about.css">

        <div class="box">
            <br><br>
        <section class="overview-section">
            <div class="overview-text">
                <h2 class="title">{{ intra_event.title }}</h2>

                <p class="subtitle">{{ intra_event.time|date:"Y-m-d H:i" }}<br><br></p>
                
                <a href="{{ intra_event.google_form_link }}"  target="_blank" rel="noopener noreferrer" >
                    <button type="button" class="edit-button"> Click Here For Registration</button>
                </a>
            </div>
            

            <div class="overview-image">
                <img src="{{ intra_event.image }}">            
            </div>
            
        
        </div>

     
        <div class="box">
            
            {{ intra_event.content|convert_markdown|safe }}
        </div>

    </section>
   
{% endblock %} 




