{% extends 'base.html' %}

{% load blog_extras %}

{% block content %}
    <div class="box">
        <section class="hero is-primary is-medium">
            <div class="hero-body">
                <p class="title">{{ intra_event.title }}</p>
                <p class="subtitle">{{ intra_event.time|date:"Y-m-d H:i" }}</p>
            </div>
        </section>
        <div class="content">
            <a href="{% url 'intra_event:google_form' pk=intra_event.pk %}"  target="_blank" rel="noopener noreferrer">
                Click Here For Registration
            </a>
        </div>

        <div class="content">
            {{ intra_event.content|convert_markdown|safe }}
        </div>

    </div>
{% endblock %}