{% extends 'base.html' %}

{% block content %}
    <br>
    <br>
    <br>
    <br>
    <link rel="stylesheet" type="text/css" href="/static/styles/demm.css">
    
    <div class="h1">
        <h1 class="site-title">Intra University Events</h1>
    </div>
   
    <div class="card-container">
        {% for i in intra_event reversed %}
        <div class="card">
            <img src="{{ i.image }}" alt="Card Image">
            <div class="card-content">
                <h2 class="title">{{ i.title }}</h2>
                <p class="subtitle">{{ i.time|date:"Y-m-d H:i" }}</p>
                <a href="{{ i.id }}">Read more</a>
            </div>
            {% if user.is_authenticated %}
            <a href={% url 'intra_event:edit_event' pk=i.id %}>
                <button type="button" class="edit-button">Edit post</button><br><br>
            </a>
            {% endif %}
        </div>
        {% endfor %}
    </div>
{% endblock content %}


