{% extends 'base.html' %}
{% load bootstrap3 %}
{% block content %}
<link rel="stylesheet" type="text/css" href="/static/styles/edit_achievement.css">
<br><br><br>
<h1>Create a blog </h1>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
            {{  form.media }}
            {{  form.as_p }}
        <!--
        Title: <input type="text" class="title-input"  name="title"  required/><br/><br>
        Author: <input type="text" class="title-input" name="author" required/><br/><br>
        Content: <br/>
        <textarea cols="57" rows="8" name="content" required></textarea><br/>
        -->
        <input type="submit" class="edit-button1" value="Post"/>

    </form>
{% endblock content %}