{% extends 'base.html' %}

{% load blog_extras %}

{% block content %}
    <div class="box">
        <section class="hero is-primary is-medium">
            <div class="hero-body">
                <p class="title">{{ blog.title }}</p>
                <p class="subtitle">{{ blog.created_at|date:"Y-m-d H:i" }}</p>
            </div>
        </section>

        <div class="content intro">
            <p>{{ blog.author }}</p>
        </div>

        <div class="content">
            {{ blog.content|convert_markdown|safe }}
        </div>
    </div>
{% endblock %}