{% extends 'base.html' %}

{% load blog_extras %}

{% block content %}
    <div class="box">
        <section class="hero is-primary is-medium">
            <div class="hero-body">
                <p class="title">{{ inter_event.title }}</p>
                <p class="subtitle">{{ inter_event.time|date:"Y-m-d H:i" }}</p>
                <br>
                Maximum Member:
                <p class="subtitle">{{ inter_event.maximum_member }}</p>

                <div class="content">
                    <img src="{{ inter_event.image }}">
                </div>
            </div>
        </section>
        <div class="content">
            <a href="#"  target="_blank" rel="noopener noreferrer">
                Click Here For Registration
            </a>
        </div>

        <div class="content">
            {{ inter_event.content|convert_markdown|safe }}
        </div>

    </div>
{% endblock %}