{% extends 'base.html' %}

{% block content %}
<div class="container">
    <br>
    <br>
    <br>
    <br>

    <div class="h1" style="text-align: center;">
        <h1 class="site-title" style="color: rgb(0, 0, 0);">Inter Events and Participants</h1><br>
    </div>
        
    {% for i in inter_event reversed %}
    <div class="box" style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); padding: 20px; margin-bottom: 20px;">
        <section class="">
            <h1 class="title">Event Name: {{ i.title }}</h1>
            {% for j in teams %}
                {% if j.event == i %}
                <div class="box" style="border: 2px solid rgb(0, 0, 0); padding: 10px;">
                    <p class="title" style="font-size: 16px;">Team Name: {{ j.name }}</p> <!-- Adjust the font-size as needed -->
                    {% for k in members %}
                        {% if k.team == j %}
                        <div class="box" style="border: 2px solid red; padding: 10px;">
                            <p>Name: {{ k.name }}</p>
                            <p>Email: {{ k.email }}</p>
                            <p>Contact No: {{ k.phone }}</p>
                            <p>Institute: {{ k.institute }}</p>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
                {% endif %}
            {% endfor %}
        </section>
    </div>
    {% endfor %}

</div>
{% endblock content %}
