{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <br>
        <br>
        <br>
        <br>
        <div class="box">
            <section class="hero is-primary">
                <div class="hero-body">
                    <iframe src="https://toph.co/c/cou-bracnet-inter-university-2023-mock/standings"
                            width="1200" height="600" frameborder="0" marginheight="0" marginwidth="0">Loading...>
                    </iframe>

                </div>
            </section>

        </div>


    </div>


{% endblock content %}