{% extends 'base.html' %}

{% block content %}
    <h1>Edit a Achievement </h1>
    <form action="{% url 'achievements:update_Achievement' pk=achievement.pk %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        Title:<br>
        <input name="title" value="{{ achievement.title }}">
        <br><br>
        Image: <br>
        <img src="{{ achievement.image }}">
        <input name="image" id="image" type="file" accept="image/*" class="form-control" >
        Description:<br>
        <input name="content" value="{{ achievement.description }}">
        <br><br>
        <input type="button" onclick="saveContent()" value="Accept" class="btn btn-success btn-large">

        <input type="button" onclick="deleteContent()" value="delete" class="btn btn-simple">
        <input type="button" onclick="cancel()" value="cancel" class="btn btn-simple">


    </form>

    <script>
        function sleep(ms) {
            return new Promise(resolve => setTimeout(resolve, ms));
        }
        function cancel(){
            window.location.href = {%  url 'achievements:achievements' %}
        }
        function saveContent() {
            Swal.fire({
                title: 'Do you want to save the changes?',
                showDenyButton: false,
                showCancelButton: true,
                confirmButtonText: 'Save',

            }).then((result) => {
                /* Read more about isConfirmed, isDenied below */
                if (result.isConfirmed) {
                    Swal.fire('Saved!', '', 'success')

                    setTimeout(function () {
                        window.location.href =
                        {%  url 'achievements:achievements' %}
                    }, 2000);
                }
            })
        }

        function deleteContent() {
            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success',
                    cancelButton: 'btn btn-danger'
                },
                buttonsStyling: false
            })

            swalWithBootstrapButtons.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, delete it!',
                cancelButtonText: 'No, cancel!',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {

                    fetch('{% url 'achievements:delete_Achievement' pk=achievement.pk %}')
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Network response was not ok');
                            }
                            return response.json();
                        })
                        .then(data => {
                            console.log(data.message);
                        })
                } else if (
                    /* Read more about handling dismissals below */
                    result.dismiss === Swal.DismissReason.cancel

                ) {
                    swalWithBootstrapButtons.fire(
                        'Cancelled',
                        'Your imaginary file is safe :)',
                        'error'
                    )
                }
            }).then(function () {
                setTimeout(function () {
                    window.location.href =
                    {%  url 'achievements:achievements' %}
                }, 1000);
            })
        }

    </script>
{% endblock content %}